@import url("https://fonts.googleapis.com/css?family=Indie+Flower");

@media screen and (min-width: 768px) {
  .grid_container {
    width: 75%;
  }
}

.hero_text {
  font-family: "Indie Flower", cursive;
  font-size: 1.6em;
}
